<div id="game">
    <a href="#"><img src="../../../assets/imagem/console-baner2.jpg" class="baner" alt="Nintendo Switch"></a>
    <div id="texto-img"><a href="#" style="color:white;"><b>Nintendo Switch - R$2999,00</b></a></div>
  </div>

 <!------------------Mini Baner --------------->
 <div id="game">
  <img src="../../../assets/imagem/mini-baner-console.jpg" style="height: 70px; opacity: 0.8;" class="baner" alt="">
</div>



<!-- Inicio do Navegue por categoria -->
<section>
  <div>
      <h1 class="titulos">Consoles em Destaque</h1>
  </div>
  <div id="icones">
      <a href="#"><img class="categoria" src="../../../assets/imagem/console-baner.jpg" alt="Desktop"></a>
      <a href="#"><img class="categoria" src="../../../assets/imagem/console-baner3.jpg" alt="Peças e Componetes"></a>
      <a href="#"><img class="categoria" src="../../../assets/imagem/console-baner2.jpg" alt="Monitor"></a>
      <a href="#"><img class="categoria" src="../../../assets/imagem/gameboy.jpg" alt="Notebook"></a>
  </div>
</section>


<div id="game">
  <img src="../../../assets/imagem/mini-baner-console.jpg" style="height: 70px; opacity: 0.8;" class="baner" alt="">
</div>


<!-- Mais vendidos-->

<section>
  <div>
      <h1 class="titulos">Mais Vendidos</h1>
  </div>
  <div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
      <div class="prod-promo">
          <a href="#"><img src="../../../assets/imagem/game-promo.jpg" style="align-items: center;" alt="pc"></a>
          <span><b>Lorem Ipsum</b></span>
          <span>R$XXX.XX</span>
      </div>
      <div class="prod-promo">
          <a href="#"><img src="../../../assets/imagem/game-promo.jpg" style="align-items: center;" alt="pc"></a>
          <span><b>Lorem Ipsum</b></span>
          <span>R$XXX.XX</span>
      </div>
      <div class="prod-promo">
          <a href="#"><img src="../../../assets/imagem/game-promo.jpg" style="align-items: center;" alt="pc"></a>
          <span><b>Lorem Ipsum</b></span>
          <span>R$XXX.XX</span>
      </div>
  </div>
  <div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
      <div class="prod-promo">
          <a href="#"><img src="../../../assets/imagem/game-promo.jpg" style="align-items: center;" alt="pc"></a>
          <span><b>Lorem Ipsum</b></span>
          <span>R$XXX.XX</span>
      </div>
      <div class="prod-promo">
          <a href="#"><img src="../../../assets/imagem/game-promo.jpg" style="align-items: center;" alt="pc  "></a>
          <span><b>Lorem Ipsum</b></span>
          <span>R$XXX.XX</span>
      </div>
      <div class="prod-promo">
          <a href="#"><img src="../../../assets/imagem/game-promo.jpg" style="align-items: center;" alt="pc"></a>
          <span><b>Lorem Ipsum</b></span>
          <span>R$XXX.XX</span>
      </div>
  </div>
</section>

