@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
	font-size: 1em;
	font-family: 'PT Serif', serif;
    background: #C8D8DD;
}


a{
    color: white;
    text-decoration: none;
    
}

input{
    border-radius: 5px;
    width: 50vw;
    height: 35px;
    text-align: center;
}


/* -----------Inicio do menu/navegação ------------------ */


#logo{
    font-size: 30px;
    font-family: 'Nova Flat', cursive;
}

#menu-topo{
    display: flex;
    justify-content: space-around;
    height: 100px;
    background-color: black;
    padding: 20px 10px;  
}

#navegacao{
    list-style: none;
    display: flex;
    justify-content: space-around;
    height: 60px;
    border: 1px solid white;
    background: black;
    color: white;
    padding: 20px;
    font-family: 'Nova Flat', cursive;
}

#navegacao a:hover{
    color: #80bbff
}

.hamburguer{
    background-color: transparent;
    cursor: pointer;
    color: white;
    border: 0;
    display: none;
    font-size: 20px;  
}


@media screen and (max-width: 768px){

    input{
        width: 40vw;
    }

    #logo{
        font-size: 20px;
    }

    .prod-promo{
        width: 80%;
    
    }

    .categoria-home{
        display: none;
    }

    .categoria{
        width: 45%;
        flex-wrap: wrap;
    }

    .text{
        font-size: 30px;
    }

    #rodape{
        font-size: 15px;
        flex-direction: column;
        align-items: center;
    }

    footer{
        height: 100%;
    }    
  }

  @media screen and (max-width: 440px){
      #logo{
          font-size: 17px;
          margin-left: 15px;
      }

      .titulos{
          font-size: 25px;
      }

      .fa-user-circle, .fa-shopping-cart{
          margin-left: 20px;
          margin-bottom: 5px;     
      }
  }

