/* ------- Footer ---------- */

footer{
    height: 310px;
    background: black;
    color: white;
}

#rodape{
    margin-left: 20px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px){

    input{
        width: 40vw;
    }

    #logo{
        font-size: 20px;
    }
 

    #navegacao{
        display: none;  
        flex-direction: column;
        background-color: black;
        color: white;
        width: 100vw;
        height: 210px; 
           
    }


    .hamburguer{
        display: flex;
    }

    .prod-promo{
        width: 80%;
    
    }

    .categoria-home{
        display: none;
    }

    .categoria{
        width: 45%;
        flex-wrap: wrap;
    }

    .text{
        font-size: 30px;
    }

    #rodape{
        font-size: 15px;
        flex-direction: column;
        align-items: center;
    }

    footer{
        height: 100%;
    }    
  }

  @media screen and (max-width: 440px){
      #logo{
          font-size: 17px;
          margin-left: 15px;
      }

      .titulos{
          font-size: 25px;
      }

      .fa-user-circle, .fa-shopping-cart{
          margin-left: 20px;
          margin-bottom: 5px;     
      }
  }
