<!-- Inicio footer -->
<footer>
    <div id="rodape"> 
      <div style="margin-top: 70px;">
        <span>Email:gamemania@email.com</span><br>
        <span>Endereço:Rua 9 de Julho, 150</span><br>
        <span>telefone: (11)4500-0000</span>
      </div>
      <div style="margin-top: 30px; margin-right: 30px;">
        <span style="font-size: 80px;">
          <a href="#"><i class="fab fa-facebook-square" style="color: white; margin-right: 10px;"></i></a>
          <a href="#"><i class="fab fa-instagram-square" style="color: white;"></i></a>
        </span><br>
        <span>Sigas nas redes sociais</span><br>
        <span> - Instagram</span><br>
        <span> - Facebook</span>
      </div>
    </div>
    <span style="margin-left: 40%;">Todos os Direitos Reservados</span>
  </footer>

