<div id="game">
    <a href="#"><img src="../../../assets/imagem/gabinete.jpg" class="baner" alt="PC Intel Core i5, 8GB RAM DDR3, HD SSD 240GB - R$1499,00"></a>
    <div id="texto-img"><a href="#" style="color:white;"><b>PC Intel Core i5, 8GB RAM DDR3, HD SSD 240GB - R$1499,00</b></a></div>
  </div>

 <!------------------Mini Baner --------------->
 <div id="game">
  <img src="../../../assets/imagem/mini-baner.jpg" style="height: 70px; opacity: 0.8;" class="baner" alt="">
</div>



<!-- Inicio do Navegue por categoria -->
<section>
  <div>
      <h1 class="titulos">Categoria em Destaque</h1>
  </div>
  <div id="icones">
      <a href="#"><img class="categoria" src="../../../assets/imagem/desktop.jpg" alt="Desktop"></a>
      <a href="#"><img class="categoria" src="../../../assets/imagem/hardware.jpg" alt="Peças e Componetes"></a>
      <a href="#"><img class="categoria" src="../../../assets/imagem/monitor.jpg" alt="Monitor"></a>
      <a href="#"><img class="categoria" src="../../../assets/imagem/note.jpg" alt="Notebook"></a>
  </div>
</section>


<div id="game">
  <img src="../../../assets/imagem/mini-baner.jpg" style="height: 70px; opacity: 0.8;" class="baner" alt="">
</div>


<!-- Mais vendidos-->

<section>
  <div>
      <h1 class="titulos">Mais Vendidos</h1>
  </div>
  <div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
      <div class="prod-promo">
          <a href="#"><img src="../../../assets/imagem/anuncio.jpg" style="align-items: center;" alt="pc"></a>
          <span><b>Lorem Ipsum</b></span>
          <span>R$XXX.XX</span>
      </div>
      <div class="prod-promo">
          <a href="#"><img src="../../../assets/imagem/anuncio.jpg" style="align-items: center;" alt="pc"></a>
          <span><b>Lorem Ipsum</b></span>
          <span>R$XXX.XX</span>
      </div>
      <div class="prod-promo">
          <a href="#"><img src="../../../assets/imagem/anuncio.jpg" style="align-items: center;" alt="pc"></a>
          <span><b>Lorem Ipsum</b></span>
          <span>R$XXX.XX</span>
      </div>
  </div>
  <div style="display: flex; justify-content: space-around;  flex-wrap: wrap;">
      <div class="prod-promo">
          <a href="#"><img src="../../../assets/imagem/anuncio.jpg" style="align-items: center;" alt="pc"></a>
          <span><b>Lorem Ipsum</b></span>
          <span>R$XXX.XX</span>
      </div>
      <div class="prod-promo">
          <a href="#"><img src="../../../assets/imagem/anuncio.jpg" style="align-items: center;" alt="pc  "></a>
          <span><b>Lorem Ipsum</b></span>
          <span>R$XXX.XX</span>
      </div>
      <div class="prod-promo">
          <a href="#"><img src="../../../assets/imagem/anuncio.jpg" style="align-items: center;" alt="pc"></a>
          <span><b>Lorem Ipsum</b></span>
          <span>R$XXX.XX</span>
      </div>
  </div>
</section>
