<div id="game">
    <a href="#"><img src="../../../assets/imagem/baner.jpg" class="baner" alt="xbox one por R$1399,00"></a>
    <div id="texto-img"><a href="#" style="color:white;"><b>Xbox One por Apenas R$1399,00</b></a></div>
  </div>

  <!--Inicio dos produtos em promoção-->
  <section>
    <div>
      <h1 class="titulos">Produtos em Promoção</h1>
    </div>
    <div style="display: flex; justify-content: space-around; flex-wrap: wrap;">

      <div *ngFor="let produto of produtos" class="prod-promo">
        <a href="#"><img src="../../../assets/imagem/fone.jpg" style="align-items: center;" alt="Fone de ouvido"></a>
        <span><b>{{produto.nome }}</b></span>
        <span>{{produto.valor }}</span>
      </div>
<!-- 
      <div class="prod-promo">
        <a href="#"><img src="../../../assets/imagem/fone.jpg" style="align-items: center;" alt="Fone de ouvido"></a>
        <span><b>Fone de Ouvido</b></span>
        <span>R$199,00</span>
      </div>
      <div class="prod-promo">
        <a href="#"><img src="../../../assets/imagem/mouse.jpg" style="align-items: center;" alt="Mouse sem fio"></a>
        <span><b>Mouse sem Fio</b></span>
        <span>R$90,00</span>
      </div>
      <div class="prod-promo">
        <a href="#"><img src="../../../assets/imagem/pc.jpg" style="align-items: center;" alt="Notebook"></a>
        <span><b>Notebook</b></span>
        <span>R$5999,00</span>
      </div> -->
    </div>
  </section>

  <!-- Inicio do Navegue por categoria -->
  <section>
    <div>
      <h1 class="titulos categoria-home">Navegue por Categoria</h1>
    </div>
    <div id="icones" class="categoria-home">
      <a routerLink="/consoles"><img class="categoria" src="../../../assets/imagem/game.jpg" alt="Video Game"></a>
      <a routerLink="/celulares"><img class="categoria" src="../../../assets/imagem/cel.jpg" alt="celulares"></a>
      <a routerLink="/computadores"><img class="categoria" src="../../../assets/imagem/note.jpg" alt="computador"></a>
      <a routerLink="/games"><img class="categoria" src="../../../assets/imagem/fita.jpg" alt="games"></a>
    </div>
  </section>
