<div id="game">
    <a href="#"><img src="../../../assets/imagem/galaxy-baner.jpg" class="baner" alt="Samsung Galaxy- R$2999,00"></a>
    <div id="texto-img"><a href="#" style="color:white;"><b>Samsung Galaxy- R$2999,00Samsung Galaxy- R$2999,00</b></a></div>
  </div>

<!------------------Mini Baner --------------->
<div id="game">
  <img src="../../../assets/imagem/mini-baner-celular.jpg" style="height: 70px; opacity: 0.8;" class="baner" alt="">
</div>



<!-- Inicio do Navegue por categoria -->
<section>
  <div>
      <h1 class="titulos">Aparelhos em Destaque</h1>
  </div>
  <div id="icones">
      <a href="#"><img class="categoria" src="../../../assets/imagem/cel-destaque.jpg" alt="Desktop"></a>
      <a href="#"><img class="categoria" src="../../../assets/imagem/cel-destaque2.jpg" alt="Peças e Componetes"></a>
      <a href="#"><img class="categoria" src="../../../assets/imagem/cel-destaque3.jpg" alt="Monitor"></a>
      <a href="#"><img class="categoria" src="../../../assets/imagem/cel-destaque4.jpg" alt="Notebook"></a>
  </div>
</section>


<div id="game">
  <img src="../../../assets/imagem/mini-baner-celular.jpg" style="height: 70px; opacity: 0.8;" class="baner" alt="">
</div>


<!-- Mais vendidos-->

<section>
  <div>
      <h1 class="titulos">Mais Vendidos</h1>
  </div>
  <div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
      <div class="prod-promo">
          <a href="#"><img src="../../../assets/imagem/cel-promo.jpg" style="align-items: center;" alt="pc"></a>
          <span><b>Lorem Ipsum</b></span>
          <span>R$XXX.XX</span>
      </div>
      <div class="prod-promo">
          <a href="#"><img src="../../../assets/imagem/cel-promo.jpg" style="align-items: center;" alt="pc"></a>
          <span><b>Lorem Ipsum</b></span>
          <span>R$XXX.XX</span>
      </div>
      <div class="prod-promo">
          <a href="#"><img src="../../../assets/imagem/cel-promo.jpg" style="align-items: center;" alt="pc"></a>
          <span><b>Lorem Ipsum</b></span>
          <span>R$XXX.XX</span>
      </div>
  </div>
  <div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
      <div class="prod-promo">
          <a href="#"><img src="../../../assets/imagem/cel-promo.jpg" style="align-items: center;" alt="pc"></a>
          <span><b>Lorem Ipsum</b></span>
          <span>R$XXX.XX</span>
      </div>
      <div class="prod-promo">
          <a href="#"><img src="../../../assets/imagem/cel-promo.jpg" style="align-items: center;" alt="pc  "></a>
          <span><b>Lorem Ipsum</b></span>
          <span>R$XXX.XX</span>
      </div>
      <div class="prod-promo">
          <a href="#"><img src="../../../assets/imagem/cel-promo.jpg" style="align-items: center;" alt="pc"></a>
          <span><b>Lorem Ipsum</b></span>
          <span>R$XXX.XX</span>
      </div>
  </div>
</section>

